<!--The content below is only a placeholder and can be replaced.-->
<input type="file" (change)="onFileChange($event)" multiple="false">
<table>
  <tr *ngFor="let row of data">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
</table>
<button (click)="readToConsole()">Read</button>
<br>
<form>
  <select [(ngModel)]="selectedHeader" name="header"(change)="onSelectHeader(selectedHeader)">
    <option *ngFor="let h of headers; let i = index" [value]="i" (change)="onSelectHeader(i)">{{ h }}</option>
  </select>
</form>

<hr>
<button (click)="export()">Export</button>
